fullnameOverride: "argo-cd"

server:
  extraArgs:
    - --insecure

  ingress:
    enabled: true
    ingressClassName: "nginx"
    hosts:
      - cd.{{ .Values.domain }}

applicationSet:
  enabled: false

dex:
  enabled: false

notifications:
  enabled: false
