controller:
  containerRuntimeExecutor: "emissary"
  workflowNamespaces:
    - workflows

server:
  ingress:
    enabled: true
    ingressClassName: "nginx"
    hosts:
      - workflows.{{ .Values.domain }}
